{% extends "base.html" %}
{% load custom_filters %}
{% load mathfilters %}

{% block content %}
<div class="span9">
    <ul class="breadcrumb">
		<li><a href="{% url 'books:index'%}">Home</a> <span class="divider">/</span></li>
		<li class="active"> SHOPPING CART</li>
    </ul>
	<h3>  SHOPPING CART [ <small>3 Item(s) </small>]<a href="{% url 'books:book_list'%}" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>	
	<hr class="soft"/>
	<table class="table table-bordered">
		<tr><th> I AM ALREADY REGISTERED  </th></tr>
		 <tr> 
			<td>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="inputUsername">Užívateľské meno</label>
						<div class="controls">
							<input type="text" id="inputUsername" placeholder="Username">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword1">Heslo</label>
						<div class="controls">
							<input type="password" id="inputPassword1" placeholder="Password">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn">Prihlásiť</button> OR <a href="register.html" class="btn">Register Now!</a>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
						<a href="forgetpass.html" style="text-decoration:underline">Zabudnuté heslo?</a>
						</div>
					</div>
				</form>
			</td>
		  </tr>
	</table>		
	{% if cart %}		
	<table class="table table-bordered">
        <thead>
            <tr>
				<th>Product</th>
					<th>Description</th>
					<th>Quantity/Update</th>
					<th>Price</th>
					<th>Discount</th>
					<th>Tax</th>
					<th>Total</th>
			</tr>
        </thead>
			<tbody>
				{% for item in cart %}
				{% with item.book as book %}
				<tr id="{{book.id}}-form-section">
					<td> <img width="60" src="{{book.image}}" alt="{{book.image}}"/></td>
					<td>{{book.title}}<br/>{{book.author}}</td>
					<td>
						<div class="input-append" style="display:flex;flex-direction:row;justify-content:space-between;"">
						<form action="{% url 'cart:add_to_cart' book.id %}" method="post">
							{% csrf_token %}
							<input class="span1 quantity_input" style="max-width:34px" value="{{item.quantity}}" id="appendedInputButtons" size="16" type="text" name="quantity" />
							<input type="hidden" name="override" value="True"/>
							<input type="hidden" name="current_url" value="{{ request.path }}#{{book.id}}-form-section">
						</form>	
						<form action="{% url 'cart:add_to_cart' book.id %}" method="post">
							{% csrf_token %}
							<input type="hidden" style="max-width:34px" value="-1" id="appendedInputButtons" size="16" type="text" name="quantity" />
							<input type="hidden" name="override" value="False"/>
							<input type="hidden" name="current_url" value="{{ request.path }}#{{book.id}}-form-section">
							<button class="btn" type="submit"><i class="icon-minus"></i></button>
						</form>	
						<form action="{% url 'cart:add_to_cart' book.id %}" method="post">
							{% csrf_token %}
							<input type="hidden" style="max-width:34px" value="1" id="appendedInputButtons" size="16" type="text" name="quantity" />
							<input type="hidden" name="override" value="False"/>
							<input type="hidden" name="current_url" value="{{ request.path }}#{{book.id}}-form-section">
							<button class="btn" type="submit" value="1"><i class="icon-plus"></i></button>
						</form>					
						
						<form action="{% url 'cart:remove_from_cart' book.id %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="current_url" value="{{ request.path }}#{{book.id}}-form-section">
						<button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i></button>
						</form>
						</div>
					</td>
					{% with book.price|mul:item.quantity|div:1.2 as cleared_price %}
					<td>{{cleared_price|floatformat:2}} €</td>
					<td>0 €</td>
					<td>{{book.price|mul:item.quantity|sub:cleared_price|floatformat:2}} €</td>
					<td>{{book.price|mul:item.quantity|floatformat:2}} €</td>
						
					{%endwith%}
				</tr>
				{%endwith%}
				
				{%endfor%}
			
			<tr>
				<td colspan="6" style="text-align:right">Total Price:	</td>
				<td>{{cart.notax_price}} €</td>
			</tr>
			<tr>
				<td colspan="6" style="text-align:right">Total Discount:	</td>
				<td>0 €</td>
			</tr>
			<tr>
				<td colspan="6" style="text-align:right">Total Tax:	</td>
				<td>{{cart.tax}} €</td>
			</tr>
			<tr>
				<td colspan="6" style="text-align:right"><strong>TOTAL ({{cart.notax_price}} € - $0 € + {{cart.tax}} €) =</strong></td>
				<td class="label label-important" style="display:block"> <strong>{{cart.total_price}} €</strong></td>
			</tr>
		</tbody>
	</table>
	{% else %}
	<h3> YOUR CART IS EMPTY </h3>
	{% endif %}
	
	<table class="table table-bordered">
		<tbody>
				<tr>
				<td> 
			<form class="form-horizontal">
			<div class="control-group">
			<label class="control-label"><strong> VOUCHERS CODE: </strong> </label>
			<div class="controls">
			<input type="text" class="input-medium" placeholder="CODE">
			<button type="submit" class="btn"> ADD </button>
			</div>
			</div>
			</form>
			</td>
			</tr>
			
		</tbody>
	</table>
			
	<table class="table table-bordered">
		<tr><th>ESTIMATE YOUR SHIPPING </th></tr>
			 <tr> 
			 <td>
				<form class="form-horizontal">
				  <div class="control-group">
					<label class="control-label" for="inputCountry">Country </label>
					<div class="controls">
					  <input type="text" id="inputCountry" placeholder="Country">
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="inputPost">Post Code/ Zipcode </label>
					<div class="controls">
					  <input type="text" id="inputPost" placeholder="Postcode">
					</div>
				  </div>
				  <div class="control-group">
					<div class="controls">
					  <button type="submit" class="btn">ESTIMATE </button>
					</div>
				  </div>
				</form>				  
			  </td>
			  </tr>
    </table>		
	<a href="{% url 'books:book_list'%}" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
	<a href="login.html" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>
	
</div>


{% endblock %}