{% load static %}
<div  id="footerSection">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h5>UŽÍVATEĽSKÝ ÚČET</h5>
				<a href="login.html">VÁŠ ÚČET</a>
				<a href="login.html">PROFIL</a> 
				<a href="login.html">ADRESY</a> 
				<a href="login.html">ZĽAVY</a>  
				<a href="login.html">OBJEDNÁVKY</a>
			 </div>
			<div class="span3">
				<h5>O NÁS</h5>
				<a href="contact.html">KONTAKT</a>  
				<a href="register.html">REGISTRÁCIA</a>  
				<a href="legal_notice.html">PRÁVNE INFORMÁCIE</a>  
				<a href="tac.html">ZMLUVNÉ PODMIENKY</a> 
				<a href="faq.html">FAQ</a>
			 </div>
			<div class="span3">
				<h5>NAJLEPŠIE PONUKY</h5>
				<a href="#">NOVINKY</a> 
				<a href="#">KNIŽNÉ TRHÁKY</a>  
				<a href="special_offer.html">VÝHODNÉ PONUKY</a>  
				<a href="#">NAJLEPŠÍ AUTORI</a> 
				<a href="#">VYDAVATEĽSTVÁ</a> 
			 </div>
			<div id="socialMedia" class="span3 pull-right">
				<h5>SOCIÁLNE SIETE </h5>
				<a href="#"><img width="60" height="60" src="{% static 'themes/images/facebook.png'%}" title="facebook" alt="facebook"/></a>
				<a href="#"><img width="60" height="60" src="{% static 'themes/images/twitter.png'%}" title="twitter" alt="twitter"/></a>
				<a href="#"><img width="60" height="60" src="{% static 'themes/images/youtube.png'%}" title="youtube" alt="youtube"/></a>
			</div> 
		</div>
		<p class="pull-right">website&copy; Jaroslav Girovský<br/>theme&copy; Bootshop</p>

	</div><!-- Container End -->
</div>