{% load static %}
<div id="header">
    <div class="container">
    <div id="welcomeLine" class="row">
        <div class="span6">Vítajte! <strong>User</strong></div>
        <div class="span6">
        <div class="pull-right">
            <span class="btn btn-mini">{{cart.total_price}} &euro;</span>
            <a href="{% url 'cart:cart_summary' %}"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ {{cart|length}} ] Nákupný košík</span> </a> 
        </div>
        </div>
    </div>