{% load static %}
<div id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="product_summary.html"><img src="{% static 'themes/images/ico-cart.png'%}" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <li class="subMenu open"><a> BELETRIA</a>
            <ul>
            <li><a class="active" href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>Slovenská beletria </a></li>
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>Česká beletria </a></li>
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>Svetová beletria </a></li>
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>Krimy a detektívky</a></li>
            </ul>
        </li>
        <li class="subMenu"><a> BIOGRAFIE </a>
        <ul style="display:none">
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>Biznis</a></li>
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>Film</a></li>												
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>História</a></li>	
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>Literatúra</a></li>
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>Hudba</a></li>												
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>Šport</a></li>												
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>Náboženstvo</a></li>												
        </ul>
        </li>
        <li class="subMenu"><a>CUDZOJAZYČNÁ LITERATÚRA</a>
            <ul style="display:none">
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>slovensky</a></li>
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>česky</a></li>												
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>anglicky</a></li>	
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>rusky</a></li>
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>nemecky</a></li>												
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>taliansky</a></li>												
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>španielsky</a></li>												
            <li><a href="{% url "books:book_list"%}"><i class="icon-chevron-right"></i>francúzsky</a></li>												
        </ul>
        </li>
        <li><a href="{% url "books:book_list"%}">EZOTERIKA</a></li>
        <li><a href="{% url "books:book_list"%}">GEOGRAFIA</a></li>
        <li><a href="{% url "books:book_list"%}">KUCHÁRSKE KNIHY</a></li>
    </ul>
    <br/>
      <!--
      <div class="thumbnail">
        <img src="themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera"/>
        <div class="caption">
          <h5>Panasonic</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
        </div>
      </div><br/>
        <div class="thumbnail">
            <img src="themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
            <div class="caption">
              <h5>Kindle</h5>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
          </div><br/>
      -->
        <div class="thumbnail">
            <img src="{% static 'themes/images/payment_methods.png'%}" title="Bootshop Payment Methods" alt="Payments Methods">
            <div class="caption">
              <h5>Možnosti platby</h5>
            </div>
          </div>
</div>