{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Domov</a> <span class="divider">/</span></li>
		<li class="active">Knihy</li>
    </ul>
	<h3> Knihy <small class="pull-right"> <!--40 products are available--> </small></h3>	
	<hr class="soft"/>
	<p>
		Najlepšie knihy pre Vás!
	</p>
	<hr class="soft"/>
	<form class="form-horizontal span6" method="get" action="{% url 'books:book_list' %}?search_query={{request.path}}">
		<div class="control-group">
			<label class="control-label alignL">Zoradiť podľa </label>
			<select name="order" onchange="this.form.submit()">
				<option value="title" {% if request.GET.order == "title" %}selected{% endif %}>Názvu knihy A - Z</option>
				<option value="-title" {% if request.GET.order == "-title" %}selected{% endif %}>Názvu knihy Z - A</option>
				<option value="author" {% if request.GET.order == "author" %}selected{% endif %}>Mena autora A - Z</option>
				<option value="-author" {% if request.GET.order == "-author" %}selected{% endif %}>Mena autora Z - A</option>
				<option value="price" {% if request.GET.order == "price" %}selected{% endif %}>Najnižšej ceny</option>
				<option value="-price" {% if request.GET.order == "-price" %}selected{% endif %}>Najvyššej ceny</option>
			</select>
			<input type="hidden" name="search_query" value="{{ request.GET.search_query }}">
		</div>
	</form>
	  
	<div id="myTab" class="pull-right">
	<a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
	<a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
	</div>
	<br class="clr"/>
	<div class="tab-content">
		<!-- List view section -->
		<div class="tab-pane" id="listView">

			<!-- Book item section -->
			{% for book in books %}
			<div class="row">	  
				<div class="span2">
					<img src="{{book.image}}" alt="{{book.image}}" style="width:200px; height:300px; object-fit:contain"/>
				</div>
				<div class="span4">
					<h5>{{book.status}}</h5>				
					<hr class="soft"/>
					<h4>{{book.title|slice:"30"}}{% if book.title|length > 30 %}...{%endif%}</h4>
					<h5>{{book.author}}</h5>
					<p>
						{{book.description|slice:"130"}}...
					</p>
					<a class="btn btn-small pull-right" href="{% url "books:book_detail" book.id %}">Viac informácií</a>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
					<div class="form-horizontal qtyFrm">
					<h3>{{book.price}} €</h3>
					<!--
					<label class="checkbox">
						<input type="checkbox">  Adds product to compair
					</label><br/>
					-->

					<form action="{% url "books:add_to_cart" %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="buy_id" value="{{ book.id }}">
						<button type="submit" class="btn btn-large btn-primary"> Pridať do <i class=" icon-shopping-cart"></i></button>
					</form>
					</div>
				</div>
			</div>
			<hr class="soft"/>
			{% endfor %}

		</div>
		<!-- Block view section -->
		<div class="tab-pane  active" id="blockView">
			<ul class="thumbnails">

				{% for book in books %}
				<li class="span3">
				<div class="thumbnail">
					<a href="{% url "books:book_detail" book.id %}"><img src="{{book.image}}" alt="{{book.image}}"style="width:200px; height:300px; object-fit:contain"/></a>
					<div class="caption">
					<h5>{{book.title|slice:"30"}}{% if book.title|length > 30 %}...{%endif%}</h5>
					<h6 style="text-align:center">{{book.author}}</h6>
					<p> 
						{{book.description|slice:"130"}}... 
					</p>
					<h4 style="text-align:center"><a class="btn" href="{% url "books:book_detail" book.id %}"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Pridať do <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">{{book.price}} €</a></h4>
					</div>
				</div>
				</li>
				{% endfor %}

			</ul>
			<hr class="soft"/>
		</div>
	</div>

	<center>{% include "includes/pagination.html" %}</center>

			<br class="clr"/>
	</div>
</div>

{% endblock %}